# Python Basics Assignment -1

 # 1 Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89
c. 189
d. None of the above

In [4]:
n=10
r=5
p=100
A = p * (1 + r / 100) ** n
print(A)

162.8894626777442

#  2.In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport.
a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a))
d. None of the above

In [6]:
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(10, 20))

There are 10 students in the class, with 20 who play at least one sport.

 # 3. In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above.

In [17]:
It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
print("It goes without saying, \"Time is Money\", and none can deny it.")

SyntaxError: invalid character '‚Äú' (U+201C) (178238396.py, line 1)

In [18]:
print("It goes without saying, \Time is Money\, and none can deny it.")

It goes without saying, \Time is Money\, and none can deny it.

<>:1: SyntaxWarning: invalid escape sequence '\T'
<>:1: SyntaxWarning: invalid escape sequence '\T'
C:\Users\acer\AppData\Local\Temp\ipykernel_14200\3152569265.py:1: SyntaxWarning: invalid escape sequence '\T'
  print("It goes without saying, \Time is Money\, and none can deny it.")

In [19]:
print("It goes without saying" + "Time is Money" + "and none can deny it.")

It goes without sayingTime is Moneyand none can deny it.

In [ ]:
result (d)

# 4 What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3
c. 30
d. 1000

In [ ]:
x = lambda a, b: a // b
x = (10, 3)

In [5]:
x=10//3

In [6]:
print (x)

3

 # 5 What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater
d. None of the above

In [15]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
if A == B:
    print("smaller")
else:
    print("Greater")

if A < B:
    print("Less than")
else:
    print("True")

Greater
Greater
Less than

In [17]:
A = 10
B = 12

print("Smaller") if A == B else print("Greater") if A < B else print("True")


if A == B:
    print("Smaller")
elif A < B:
    print("Greater")
else:
    print("True")

Greater
Greater

# 6 What will be the output of the following code?
a. [2 7 3 5 4 6]
b. TypeError
c. NameError: name 'numpy' is not defined
d. None of the above

In [18]:
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = np.array(my_list1, dtype=int)
print(arr_1)

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

# 7  Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)]

In [3]:

string = "Machine Learning"
substring = string[8:13]

print(substring)

Learn

In [4]:

start_index = string.find("Learn")
substring = string[start_index:start_index+5] 

print(substring)

Learn

 # 8  Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the
value 18?
a. 3
b. 2
c. 0
d. 1

In [5]:
sequence = list(range(10, 26, 4))

print(sequence)

[10, 14, 18, 22]

In [6]:
index_of_18 = sequence.index(18)

print(index_of_18)

2

# 9 . Which of the following is true with respect to the below codes?
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2

In [19]:
num1= 5**4
num2=pow(5,4)
print (num1,num2)

625 625

# 10 A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported

In [ ]:
# result
print(x)  Raises NameError if x has not been defined

(a) Trying to access a variable which has not been defined

# 11 .What type of exception will be raised for the code given below?
a. NameError
b. KeyError
c. ValueError
d. AttributeError

In [20]:
x='string'
int(x)
c. value error

ValueError: invalid literal for int() with base 10: 'string'

# 12 .A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a directory

In [ ]:
with open('nonexistent_file.txt', 'r') as file:  # Raises FileNotFoundError if the file does not exist
    content = file.read() 
 result (b) A file or directory is requested but does not exist in the working directory

In [ ]:
# 13 Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character
c. Integer
d. Boolean

In [ ]:
 result ( b) character

# 14 Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above

In [2]:
k="4"
print(type(k))

<class 'str'>

In [3]:
j="welcome"
print(type(j))

<class 'str'>

In [4]:
L="?"
print(type(L))

<class 'str'>

In [ ]:
result = (d)

# 15 Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #

In [5]:
result_a = (4)  
type(result_a)

int

In [6]:
result_b = "4"  
type(result_b)

str

In [7]:
result_c = "{}".format(4)  
type(result_c)

str

In [ ]:
result (a,d)

# 16 Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively:

Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [8]:
Country = {
    "India": "Delhi",
    "China": "Beijing",
    "Japan": "Tokyo",
    "Qatar": "Doha",
    "France": "Marseilles"
}

print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}

In [9]:
Country["France"] = "Paris"
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

# 17 Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45

In [10]:
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)

result_a = sum(tuple_1)
print(result_a)

27

In [11]:
result_b = len(tuple_2)
print(result_b)

3

In [12]:
result_c = tuple_2 + tuple_1
print(result_c)

(8, 9, 4, 1, 5, 6, 7, 8)

In [14]:
tuple_1 = (1, 5, 6, 7, 8)
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

In [ ]:
result (d)

# 18 How many elements in the following data structure? 
s={1,2,3,4,4,4,5,6}

In [15]:
s = {1, 2, 3, 4, 4, 4, 5, 6}
len(s)

6

# 19 Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N.

In [16]:
def find_pythagorean_triplets(N):
    triplets = []
    
    for a in range(1, N + 1):
        for b in range(a, N + 1):
            for c in range(b, N + 1):
                if a * a + b * b == c * c:
                    triplets.append((a, b, c))
    return triplets
N = 20
triplets = find_pythagorean_triplets(N)
print(triplets)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]